@using Ixq.Core.Entity
@using Ixq.UI
@model IPageEditViewModel
@{
    Layout = "~/Areas/Ixq.Soft.Web.Areas.Admin/Views/Shared/_LayoutIframe.cshtml";
}
@section styles{
    @Html.RenderStyles()
}

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>查看详情</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        @foreach (IEntityPropertyMetadata item in Model.PropertyMenberInfo)
                        {
                            @Html.PropertyViewer(item,Model.EntityDto)
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Html.RenderScripts()
}