
@{
    ViewBag.Title = "title";
}

<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <blockquote class="text-warning" style="font-size:14px">
            Welcome To Ixq Soft.
        </blockquote>
        <hr>
    </div>
</div>
