.content-header > .btn-container {
    position: absolute;
    right: 15px;
    top: 10px;
}
.content-header > .btn-container .btn{
    margin-bottom:2px;
}

@media (max-width: 991px) {
    .content-header > .btn-container {
        position: relative;
        margin-top: 5px;
        top: 0;
        right: 0;
        float: none;
        padding: 5px 0;
    }
}
