<ul class="sidebar-menu" data-widget="tree">
    <li class="treeview active">
        <a href="#">
            <i class="fa fa-link"></i> <span>系统管理</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="active">
                <a asp-action="index" asp-controller="applicationUser">
                    <i class="fa fa-circle-o"></i>用户管理
                </a>
            </li>
            <li>
                <a asp-action="index" asp-controller="applicationRole">
                    <i class="fa fa-circle-o"></i>角色管理
                </a>
            </li>
        </ul>
    </li>
</ul>