@using Ixq.Soft.Web.Models.IdentityViewModels
@model ApplicationUserModel

@{
    ViewBag.Title = "title";
}

<section class="content-header">
    
</section>
<section class="content">
    
</section>
